.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.text-xs {
  font-size: 12px;
  line-height: 1;
}
.text-center {
  text-align: center;
}
.text-gray {
  color: $gray;
}

@for $i from 0 through 10 {
  .my-#{$i} {
    margin-top: 4px * $i;
    margin-bottom: 4px * $i;
  }
  .mb-#{$i} {
    margin-bottom: 4px * $i;
  }
  .ml-#{$i} {
    margin-left: 4px * $i ;
  }
  .mr-#{$i} {
    margin-right: 4px * $i;
  }
  .p-#{$i} {
    padding: 4px * $i;
  }
  .pb-#{$i} {
    padding-bottom: 4px * $i;
  }
}